# Copyright (c) 2026 Zach Metcalf. All Rights Reserved.

CompileFlags:
  Add: [-Wall, -Wextra, -std=c++17]

---

If:
  PathMatch: .*
Diagnostics:
  Suppress: true

---

If:
  PathMatch: .*/source/.*
Diagnostics:
  Suppress: false
