################################################################################################################################################################
## .clang-tidy
##
## Zach Metcalf
################################################################################################################################################################

---
Checks: '-*,clang-analyzer-*'
WarningsAsErrors: ''
