################################################################################################################################################################
## .clang-tidy
##
## Zach Metcalf
################################################################################################################################################################

---
Checks: '-*,clang-analyzer-*,clang-diagnostic-*,portability-*'
WarningsAsErrors: ''
